/* Font Variables */

$primary-font: "Roboto", sans-serif;
$title-font: "Roboto", sans-serif;

/* Color Variables */

$main-color: #FF2E67;
$opacity-button-color: #FFEAEF;
$secondary-color: #737781;
$title-color: #16181c;

/* ================= FONTS =================  */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap");