/* Font Variables */

$primary-font: "Montserrat", sans-serif;
$title-font: "Montserrat", sans-serif;

/* Color Variables */

$main-color: #f6c336;
$opacity-button-color: #FFEAEF;
$secondary-color: #737781;
$title-color: #16181c;

/* ================= FONTS =================  */

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");